main {
  max-height: calc(100vh - 133px);
  height: calc(100vh - 133px);
  width: calc(100vw - 80px);
  background: var(--primary-100);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
